<main>
  <nav>
    <ng-content></ng-content>
  </nav>

  <div class="gallery">
    <figure>
      <img
        src="../../assets/imgs/Captura de pantalla 2024-07-18 085506.png"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>PymePanel Sistema de inventario creado</h3>
        <p>Sistema de inventario multinivel</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/Captura de pantalla 2024-07-18 085355.png"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>PymePanel Sistema de inventario creado</h3>
        <p>Catalogo generado desde el inventario</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/WhatsApp Image 2025-04-21 at 07.54.52.jpeg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Laarcourier</h3>
        <p>Trabajo de oficina y bodega</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/20250619_085226.jpg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Laarcourier</h3>
        <p>Trabajo de oficina y bodega</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/CATALOGO-PART-11.jpg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Tecno Home Computers</h3>
        <p>Catalogo generado desde el inventario</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/189925862_107099038242997_5358745096136778108_n.jpg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Digital Home Computers</h3>
        <p>Espacio de trabajo</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/189655940_107114394908128_7269983838054868451_n.jpg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Digital Home Computers</h3>
        <p>Creación de publicidad para sitio web y redes</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/IMG_20210520_145915.jpg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Digital Home Computers</h3>
        <p>Publicidad para impresión y web</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/Captura de pantalla 2025-07-29 005141.png"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Laarcourier</h3>
        <p>Desarrolo de aplicación para mensajes de Whatshapp</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/IMG_20210520_142433.jpg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Tecno Home Computers</h3>
        <p>Publicidad para la web y redes sociales</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/IMG_20220428_085520.jpg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Secretaría Técnica de Gestión Inmobiliaria</h3>
        <p>Desarrollo con Java en oficinas de la ciudad de Quito</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/854shots_so.png"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Unidad Educativa Luis Tello</h3>
        <p>Creación de sistema de matriculación y calificaciones</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/IMG_20200729_201127.jpg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Corporación La Favorita</h3>
        <p>Fin de jornada Garaje del Super Aki</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/Screenshot 2023-05-21 193923.png"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Sagrado Corazón</h3>
        <p>Creando galeria y sistema de horarios de clases para cada curso</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/WhatsApp Image 2023-05-28 at 4.47.51 PM.jpeg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Sagrado Corazón</h3>
        <p>Creando galeria y sistema de horarios de clases para cada curso</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/Captura de pantalla 2024-07-18 085752.png"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>PymePanel Sistema de inventario creado</h3>
        <p>Facturación y cotización de productos</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/IMG_20201115_214403.jpg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Digital Home Computers</h3>
        <p>Cierre de local</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/IMG_4818 1.JPG"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Digital Home Computers</h3>
        <p>Laboratorio tecnico en piso superior</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/macbook.jpg"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Digital Home Computers</h3>
        <p>Creando publicidad de cada producto</p>
      </figcaption>
    </figure>

    <figure>
      <img
        src="../../assets/imgs/IMG_4758.JPG"
        alt="Lorem ipsum dolor sit amet"
      />
      <figcaption>
        <h3>Digital Home Computers</h3>
        <p>Abriendo local</p>
      </figcaption>
    </figure>
  </div>
</main>
